@import "../../styles/variables.scss";

.blog {
	min-height: calc(100vh - $navbarHeight);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 50px;
	.left {
		.blog-list {
			width: 800px;
			padding-bottom: 50px;
			.loading {
				height: 200px;
				position: relative;
			}
			.no-more {
				height: 80px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: gray;
			}
		}
		margin-right: 50px;
	}
	.right {
		.sidebar {
			width: 320px;
			position: relative;
			.side-section-title {
				user-select: none;
				font-size: 20px;
				font-family: SimSun;
				font-weight: 500;
				padding: 10px 0px;
				border-bottom: 1px solid rgb(230, 229, 229);
				position: relative;
			}
			.side-section-main {
				font-size: 13px;
				padding: 20px 0px;
				font-weight: 400;
				color: gray;
				letter-spacing: 1.2px;
				text-align: justify;
				padding-top: 20px;
			}
			.tags {
				.side-tags-title {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.show-all {
					}
				}
				.side-tags-main {
					min-height: 50px;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					padding-top: 20px;
					input[type="checkbox"] {
						position: absolute;
						clip: rect(0, 0, 0, 0);
						&:checked + .side-single-tag {
							background-color: $themeColor;
							color: white;
						}
					}
					.side-single-tag {
						margin: 5px 6px;
						height: 30px;
						padding: 0 10px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						font-size: 14px;
						font-weight: 400;
						border-radius: 5px;
						border: 1px solid $themeColor;
						color: $themeColor;
						cursor: pointer;
					}
				}
			}
		}
	}
}

//* 媒体查询：宽度：800+320+50 = 1170
@media screen and (max-width: 1200px) {
	.blog {
		.left {
			margin-right: 0;
		}
		.right {
			.sidebar {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.blog {
		.left {
			margin-right: 0;
			padding-left: 50px;
			padding-right: 50px;
			min-width: 550px;
			.blog-list {
				width: 100%;
			}
		}
		.right {
			.sidebar {
				display: none;
			}
		}
	}
}
