@import "../../styles/variables.scss";

// upshow
.upshow-enter-active,
.upshow-exit-active {
	transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.27);
}

.upshow-exit,
.upshow-enter-done {
	opacity: 1;
	transform: translateY(0);
}

.upshow-enter,
.upshow-exit-done {
	opacity: 0;
	transform: translateY(30px);
}

.scroll-container {
	height: calc(100vh - $navbarHeight);
	scroll-behavior: smooth;
	overflow-y: auto;
	position: relative;
	#scroll-top-anchor {
		position: absolute;
		top: 0;
		opacity: 0;
		z-index: -1;
	}
	.page-main {
		min-height: calc(100vh - $navbarHeight);
	}
	.right-bottom {
		position: fixed;
		right: 20px;
		bottom: 15px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		z-index: 998;
		.back-to-top {
			width: 40px;
			height: 40px;
			border-radius: 5px;
			background-image: url("../../assets/icons/top.png");
			background-size: cover;
			background-position: center;
			transition: all 0.3s ease;
			&:hover {
				transform: translateY(-8px);
			}
			&:not(.applied) {
				display: none;
			}
		}
		.settings {
			margin-top: 1px;
			width: 42px;
			height: 42px;
			border-radius: 8px;
			background-image: url("../../assets/icons/settings.png");
			background-size: cover;
			background-position: center;
			transition: all 0.3s ease;
			cursor: pointer;
			&:hover {
				transform: rotate(90deg);
			}
		}
	}
	.page-foot {
		height: $pageFootHeight;
		background-color: whitesmoke;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		p {
			margin-right: 20px;
			font-size: 15px;
			color: gray;
		}
		a {
			text-decoration: none;
			font-size: 14px;
			color: gray;
		}
	}
}
