@import "../../styles/variables.scss";

// upshow
:global {
	.upshow-enter-active,
	.upshow-exit-active {
		transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.27);
	}

	.upshow-exit,
	.upshow-enter-done {
		opacity: 1;
		transform: translateY(0);
	}

	.upshow-enter,
	.upshow-exit-done {
		opacity: 0;
		transform: translateY(30px);
	}
}

.scrollContainer {
	height: calc(100vh - $navbarHeight);
	scroll-behavior: smooth;
	overflow-y: auto;
	position: relative;
	:global {
		#scroll-top-anchor {
			position: absolute;
			top: 0;
			opacity: 0;
			z-index: -1;
		}
	}
	.pageMain {
		min-height: calc(100vh - $navbarHeight);
	}
	.rightBottom {
		position: fixed;
		right: 20px;
		bottom: 15px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		z-index: 998;
		.backToTop {
			width: 40px;
			height: 40px;
			border-radius: 5px;
			background-image: url("../../assets/icons/top.png");
			background-size: cover;
			background-position: center;
			transition: all 0.3s ease;
			&:hover {
				transform: translateY(-8px);
			}
			&:not(:global(.applied)) {
				display: none;
			}
		}
		.settings {
			margin-top: 1px;
			width: 42px;
			height: 42px;
			border-radius: 8px;
			background-image: url("../../assets/icons/settings.png");
			background-size: cover;
			background-position: center;
			transition: all 0.3s ease;
			cursor: pointer;
			&:hover {
				transform: rotate(90deg);
			}
		}
	}
	.pageFoot {
		height: $pageFootHeight;
		background-color: whitesmoke;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		p {
			margin-right: 20px;
			font-size: 15px;
			color: gray;
		}
		a {
			text-decoration: none;
			font-size: 14px;
			color: gray;
		}
	}
}
