@import "../styles/variables.scss";

.layout {
	height: 100%;

	.navbar {
		height: $navbarHeight;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: $tickLine;
		// .nav-left{}
		// .nav-center{}
		.nav-right {
			display: flex;
			padding-right: 25px;
			.nav-item {
				position: relative;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding-left: 12px;
				padding-right: 12px;
				text-decoration: none;
				transition: all 0.1s ease;
				color: black;
				&:hover {
					.nav-underline {
						width: 100%;
					}
				}
				.nav-underline {
					width: 0;
					border-bottom: 2px rgb(40, 40, 40) solid;
					position: relative;
					top: 4px;
					transition: all 0.3s ease;
				}
			}
			.router-link-active {
				.nav-underline {
					width: 100%;
				}
			}
		}
	}
	.outlet-main {
		min-height: calc(100vh - $navbarHeight);
		position: relative;
	}
	.page-foot {
		height: $pageFootHeight;
		background-color: whitesmoke;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		p {
			margin-right: 20px;
			font-size: 15px;
			color: gray;
		}
		a {
			text-decoration: none;
			font-size: 14px;
			color: gray;
		}
	}
}
