// left-slide
// .slide-exit-active {
// 	transition: all 300ms;
// }

.slide-enter {
	transform: translateX(100%);
}
.slide-enter-active {
	transform: translateX(0);
	transition: transform 300ms;
}

.slide-exit {
	transform: translateX(0);
}
.slide-exit-active {
	transform: translateX(100%);
	transition: transform 300ms;
}

.right-bar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: 900;
	// backdrop-filter: brightness(80%);
}
.right-bar {
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-shadow: -11px 11px 30px #d5d5d5, 11px -11px 30px #ebebeb;

	.head {
		height: 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.close {
			height: 24px;
			width: 24px;
			background-image: url("../../assets/icons/left.png");
			background-size: cover;
			background-position: center;
			cursor: pointer;
		}
		.empty {
			width: 30px;
		}
	}
}
